@include layout.config(
  $layout-margin: (
    "default": 16px,
    "sm": 3 * 16px,
    "md": 5 * 16px,
    "lg": 10 * 16px,
  ),
  $gap: (
    "default": 16px,
    "sm": 16px,
    "md": 20px,
    "lg": 20px,
  ),
  $cols: (
    "default": 1,
    "sm": 2,
    "md": 6,
    "lg": 12,
  )
);

@include layout.create-container;
@include layout.create-main-layout;
